<div class="row">
  <div class="col-xs-3 col-xs-offset-3">
    <button class="btn btn-default" name="csvUpload">
      <label for="csv-upload">
        <i class="glyphicon glyphicon-save"></i> Import CSV
      </label> 
      <input id="csv-upload" [ngStyle]="{'display': 'none'}" type="file" accept=".csv" (change)="importCsvFile($event.target.files, $event.target.value)" />
    </button>
    <span> &nbsp; {{csvFileName}} </span>
  </div>
  <div class="col-xs-3 text-left">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon3">Filter by Issue:</span>
      <input [disabled]="!tableData" type="number" placeholder="Count" class="form-control" id="filterCount"
        aria-describedby="basic-addon3" [(ngModel)]="filterCount" (ngModelChange)="applyFilter(filterCount)" />
    </div>
  </div>
</div>
<br />

<div class="table-responsive">
  <table *ngIf="tableData" class="table table-hover table-striped table-bordered">
    <tr>
      <th *ngFor="let column of columnHeader">{{column}}</th>
    </tr>
    <tr *ngFor="let row of tableData">
      <td>{{row.firstName}}</td>
      <td>{{row.surName}}</td>
      <td>{{row.issueCount}}</td>
      <td>{{row.dateOfBirth}}</td>
    </tr>
  </table>
  <div id="nodataFound" *ngIf="tableData && tableData?.length === 0" class="text-center"> {{noDataFound}} </div>
</div>
